# tensorflow==2.5
tensorflow==2.8.4
tensorboard==2.8.0
# open3d==0.15.2
open3d==0.17.0
msgpack
msgpack-numpy
zstandard
dm-tree
yapf
pyyaml
addict
tqdm
# sklearn
scikit-learn
tensorpack
lapsolver
python-prctl
